appdirs==1.4.3
beautifulsoup4==4.5.3
click==6.7
Flask==0.12
gunicorn==19.7.0
html5lib==0.999999999
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
packaging==16.8
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
webencodings==0.5
Werkzeug==0.12
